* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
     background-color: #322e2f;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #322e2f;
}

h1, 
input, 
button {
    font-family: 'Ubuntu', sans-serif;
    margin: 5px;
}

h1 {
    color: #d9138a;
    font-size: 40px;
}

input {
    padding: 10px;
    /* border-radius: 10px; */
}

button {
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #12a4d9;
    color: #ffffff;
}

#image-results-container {
    padding-top: 40px;
    text-align: center;
}